.video_container {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
  }

  .ForwardBack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .jumpToLast {
    font-size: x-large;
    border-radius: 2px;
  }